.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke ;
    height: 75px;
   
}

.header__left{
    display: flex;
    align-items: center;  
    margin:  0 5px;  
}

.header__left > img {
    object-fit: contain;
    height: 20px;
    margin-left: 5px;
}

.header__left > button{
    margin-left: 10px;
}

.header__middle{
    display: flex;
    flex: 0.5;
    align-items: center;
    margin: 0 5px;
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 8px; 
}

.header__middle > .MuiSvgIcon-root{
    color: grey;
    padding: 0 5px;
}

.header__middle > button{
    margin: 0 5px;
}

.header__middle > input{
    border: none;
    width: 480px;
    margin: 0 10px;
    padding: 10px;
    outline-width: 0;
    font-size: medium;
    background-color: transparent;
}


.header__right{
    display:flex;
    padding: 10px;
    margin: 0 5px;
    align-items: center;
    justify-content: space-evenly;
}

.header__right > button{
    margin-right: 5px;
}

.header__right > .MuiAvatar-root{
    margin-right: 10px;
}

